*{
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: rgb(29, 28, 28);
}
#box1
{
  height: 300px;
  width: 300px;
  background: crimson;
}
#box2
{
  height: 300px;
  width: 300px;
  background: lightseagreen;
}
#box3
{
  height: 300px;
  width: 300px;
  background: royalblue;
}